<h1>User Message</h1>
<form class="form-horizontal well">
  <div class="form-group">
    <label class="col-sm-2 control-label">Message date</label>
    <div class="col-sm-8"><span class="form-control readonly" ng-bind="userMessage.dhCreated | date"></span></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">e-mail</label>
    <div class="col-sm-8"><a href="mailto:{{userMessage.nmFromEMail}}" class="form-control readonly" ng-bind="userMessage.nmFromEMail"></a></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">From</label>
    <div class="col-sm-8"><span class="form-control readonly" ng-bind="userMessage.nmFromName"></span></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Message</label>
    <div class="col-sm-8"><span class="form-control readonly" style="height: 180px;" ng-bind="userMessage.txtMessage"></span></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 col-xs-6 text-left">
      <button class="btn btn-default" ng-click="backToMessages()">
        <span class="glyphicon glyphicon-backward"></span>
        <span class="hidden-sm hidden-xs">Back to Messages</span>
      </button>
    </div>
    <div class="col-sm-4 col-xs-6 text-right">
      <button class="btn btn-danger" ng-click="deleteMessage(userMessage)">
        <span class="glyphicon glyphicon-trash"></span>
        <span class="hidden-sm hidden-xs">Delete Message</span>
      </button>
    </div>
    <div class="col-sm-2"></div>
  </div>
</form>
