<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>WIRGE - Chi siamo</title>
  <meta name="description" content="Siamo un gruppo di consulenti e professionisti che offrono la loro passione ed esperienza nella realizzazione di progetti legati al mondo di Internet.">
  <meta name="viewport" content="width=device-width">
  <!-- build:css(.tmp) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/wirge-bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="WirgeApp">

<div class="container">

  <nav class="navbar navbar-default">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/wirge_logo.png" alt="WIRGE Home Page"></a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#">Home</a></li>
        <li class="active"><a href="/chi-siamo.html">Chi siamo</a></li>
        <!--li><a href="/portfolio.html">Portfolio</a></li-->
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/contattaci.html">Contattaci</a></li>
      </ul>
    </div>

  </nav>

  <h1>Chi siamo</h1>
  <p class="lead">
    Siamo un gruppo di consulenti e professionisti che offrono la loro passione ed esperienza nella realizzazione di progetti legati al mondo di Internet.
    Non crediamo nei modelli di business di sviluppo software del passato, quindi ci siamo uniti per offrire ai nostri clienti una struttura con competenze approfondite ed esperienza, ma priva della rigidità delle strutture tradizionali.
  </p>

  <hr>

  <div class="row">
    <div class="col-md-7">
      <h2>Enrico Petrelli. <span class="text-muted"></span></h2>
      <p class="lead">
        Visto che è alto 2 metri è troppo lungo per stare in 140 caratteri.
        <br>Ha iniziato una ventina di anni or sono rimontando un computer e non ha ancora smesso di far funzionare le cose unendo i vari pezzi.
        <br>Con le mani ancora sporche di codice si è dedicato al Project Management portando a termine una lunga serie di progetti di successo: le Startup che ha seguito sono diventate leader dei propri mercati ed ovviamente ne è rimasto consulente.
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" src="images/enrico.gif" alt="Enrico">
    </div>
  </div>

  <hr>

  <!--
  <div class="row">
    <div class="col-md-5">
      <img class="img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2>Trasformiamo. <span class="text-muted">We Transform.</span></h2>
      <p class="lead">Ogni buon progetto di commercio off-line è un ottimo candidato per diventare un successo on-line. A noi piace trasformare le idee in progetti, ed i progetti in realtà. Per farlo analizziamo a fondo le idee e le trasformiamo utilizzando le tecnologie più avanzate.</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-7">
      <h2>Siamo aperti. <span class="text-muted">We are Open.</span></h2>
      <p class="lead">Riteniamo che il successo possa essere raggiunto solo prestando attenzione ad ogni singolo dettaglio. Non abbiamo una bacchetta magica, ma scegliamo di volta in volta il modo migliore e la tecnologia più efficace per soddisfare i requisiti del Cliente e del Progetto.</p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-5">
      <img class="img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2>Siamo agili. <span class="text-muted">We are Agile.</span></h2>
      <p class="lead">Applichiamo la metodologia agile a tutti gli elementi del progetto, non solo lo sviluppo software. Questo ci permette di adattarci rapidamente al cambiamento, effettuando controlli costanti e continui affinamenti, così come ogni vero progetto on-line richiede.</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-7">
      <h2>Siamo differenti. <span class="text-muted">We are Different.</span></h2>
      <p class="lead">La strada del primo è per forza diversa. La nostra strada è dettata dall'esperienza, e l'esperienza ci dice che per non essere uno fra molti bisogna fare qualcosa di nuovo, di migliore, insomma differente.</p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
-->

  <div class="well">
    <h2><span class="glyphicon glyphicon-envelope"></span> Contattaci</h2>
    <p class="lead">Se ti piace il nostro modo di vivere il web e l'e-commerce, e vuoi approfondire qualche argomento, invia un messaggio, ti contatteremo al più presto:</p>
    <div data-ng-controller="UserMessageController">

      <form class="form-horizontal" name="userMessageForm">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="userMessage.txtMessage">Messaggio</label>
          <div class="col-sm-6">
            <textarea
              class="form-control"
              rows="10"
              id="userMessage.txtMessage"
              data-ng-model="userMessage.txtMessage"
              placeholder="Testo del messaggio"
              ng-required="true"></textarea>
          </div>
          <div class="col-sm-3"></div>
        </div>


        <div class="form-group">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <button
              class="btn btn-primary pull-right"
              data-ng-disabled="!userMessageForm.$valid"
              data-ng-click="sendUserMessage()"><span class="glyphicon glyphicon-send"></span> Invia il messaggio</button>
          </div>
          <div class="col-sm-3"></div>
        </div>

      </form>

      <div class="modal fade" id="userMessageConfirm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" visible="userMessage.id != null">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-envelope"></span> Messaggio inviato</h4>
            </div>
            <div class="modal-body text-center">
              <br>
              <br>
              Grazie, il messaggio è stato inviato e sarai contattato al più presto.
              <br>
              <br>
              <br>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-xs-7"></div>
                <div class="col-xs-5">
                  <button type="button" class="btn btn-default form-control" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">Chiudi</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

</div>



<div class="container">
  <footer class="footer">
    <p>&copy; 2015 WIRGE &middot; PI 01351660996</p>
  </footer>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-46615962-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/leaflet/dist/leaflet.js"></script>
<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="bower_components/angularytics/dist/angularytics.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/scripts.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="scripts/WirgeApp.js"></script>
<script src="scripts/WirgeUrlsService.js"></script>
<script src="scripts/userMessage/UserMessageService.js"></script>
<script src="scripts/userMessage/UserMessageController.js"></script>
<!-- endbuild -->


</body>
</html>
